
header {
    background-color: bisque;
    width: 400px;
    font-family: Arial;
  }
  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  footer {
    background-color: azure;
  }
  
  .header{
      background-color: bisque;
      width: 400px;
      font-family: Arial;
  
  }
  .pic{
      width: 25%;
      
  }
  
  .main{
      color: blue;
      background-color: yellow;
      width: 450px;
      height: 450px;
      text-align: center;
      padding: 10px;
      margin: 100px;
      font-family: fantasy;
  
  
      display: inline-block;
  }
  
  ?* tag selector will target all of the tags with that name */